@mixin box-shadow($attr) {
    -webkit-box-shadow: $attr;
    -moz-box-shadow: $attr;
    -ms-box-shadow: $attr;
    -o-box-shadow: $attr;
    box-shadow: $attr;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin opacity($value) {
    opacity: $value;
    filter: alpha(opacity=$value * 100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$value*100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value*100)";
}

@mixin text-clamp($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin grayscalefull {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    animation: #{$str};
}

@mixin reset-button {
    background: none;
    border: none;
}

@mixin link-behavior {
    &:hover {
        color: $color-link-hover;
    }
    &:active {
        color: $color-link-click;
    }
}

@mixin link-button($color, $color-hover) {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    color: $color;
    transition: background 0.2s ease, color 0.2s ease;

    &:hover {
        background: $color;
        color: $color-hover;
    }
}

@mixin border-button($color, $color-hover) {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    border-radius: 20px;
    border: 1px solid $color;
    transition: background 0.2s ease, color 0.2s ease;

    &:hover {
        background: $color;
        color: $color-hover;
    }
}

@mixin social-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-size: contain;
    margin-right: 5px;

    &.facebook {
        background-image: url(/images/facebook.png);
    }
    &.vkontakte {
        background-image: url(/images/vk.png);
    }
    &.instagram {
        background-image: url(/images/instagram.png);
    }
}

@mixin popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;

    .popup-close-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 50px;
        color: $color-negative;
    }

    .popup-scroller {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .popup-container {
        width: 560px;
        margin: 100px auto;
        background-color: #fff;
    }

    .popup-content {
        padding: 40px 45px;
    }

    .popup-header {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .popup-body {
        margin-bottom: 20px;

        p,
        a,
        li {
            font-size: 12px;
        }
    }

    .popup-button {
        @include border-button($color-default, $color-negative);
    }

    &.show {
        display: block;
    }
}

@mixin page-popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    z-index: 100;
    display: none;

    .popup-close-line {
        margin-bottom: 40px;

        button {
            display: flex;
            width: 100%;
            height: 60px;
            align-items: center;
            justify-content: space-between;

            .popup-close-button {
                margin-left: auto;
            }
        }
    }

    .popup-back-button {
        display: block;
        margin-left: 20px;
        font-size: 12px;

        .arrow {
            position: relative;
            top: -2px;
        }
    }

    .popup-close-button {
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 50px;
        font-family: "Times New Roman";
    }

    .popup-scroller {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .product-card {
        display: flex;

        .card-gallery {
            flex: 1;

            .gallery-bigs {
                height: 480px;
                padding: 40px;

                img {
                    display: block;
                    height: 100%;
                    margin: 0 auto;
                }
            }

            .gallery-smalls {
                button {
                    width: 60px;
                    height: 60px;
                    padding: 5px 0;
                    border: 1px solid rgba(0, 0, 0, 0.15);

                    img {
                        display: block;
                        height: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        .card-info {
            flex: 1;

            .info-caption {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 20px;
            }

            .info-buttons {
                margin-bottom: 20px;

                button {
                    @include border-button($color-default, $color-negative);
                    font-size: 12px;
                }
            }

            .info-body {
                p {
                    margin-bottom: 20px;
                    font-weight: $font-weight-light;
                }
            }
        }
    }

    &.show {
        display: block;
    }
}

@mixin form {
    .form-field {
        margin-bottom: 20px;
    }

    .field-label {
        display: block;
        margin-bottom: 5px;
    }

    .field-note {
        font-size: 14px;
        opacity: 0.8;
    }

    .field-control {
        input,
        textarea {
            width: 100%;
            height: 56px;
            line-height: 56px;
            padding: 0 20px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #eee;
            outline: none;
        }

        textarea {
            min-height: 100px;
            padding: 10px 20px;
            line-height: 20px;
        }

        button {
            width: 100%;
            height: 60px;
            line-height: 60px;
            border: 1px solid #908175;
            border-radius: 5px;
            background: none;
            text-align: center;
            transition: background 0.2s ease, color 0.2s ease;

            &:hover {
                background: #908175;
                color: #fff;
            }
        }
    }

    .checkput-item {
        display: flex;
        gap: 10px;
        margin-bottom: 5px;

        input {
            width: 20px;
            height: 20px;
        }

        label {
            cursor: pointer;
        }
    }
}
