$font-family-default: "Open Sans", sans-serif;
$font-family-secondary: sans-serif;

$font-weight-normal: normal;

$color-default: #323a45;
$color-negative: #fff;
$color-light: #ababab;
$color-link-hover: #25b695;
$color-link-click: #1f967b;
