a {
    color: $color-link;

    &:hover {
        color: $color-link-hover;
    }
}

.breadcrumbs {
    padding: 10px 20px;
    background: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    a {
        color: $color-default;

        &:hover {
            color: $color-link-hover;
        }

        &:first-child {
            font-size: 24px;
        }
    }

    .delim {
        position: relative;
        top: -2px;
        display: inline-block;
        margin: 0 $margin-default;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #aaa;
    }
}

.page-content {
    padding: $margin-default;
}

.auth-form {
    @include form;
}

.page-errors {
    margin-bottom: $margin-default;

    p {
        color: $color-error;
    }
}

.page-messages {
    margin-bottom: $margin-default;

    p {
        color: $color-message;
    }
}

.logged-user {
    margin-bottom: $margin-default;
}

.page-action {
    @include action;
}

.model-list-widget {
    .widget-actions {
        margin-bottom: 30px;
    }
    .list-item {
        margin-bottom: 20px;

        .item-caption {
            margin-bottom: 10px;
            font-size: $font-size-caption;
        }
    }
}

.editor-widget {
    .widget-note {
        margin-bottom: $margin-default;
    }
    .widget-form {
        @include form;
    }
}

.uploaded-files {
    .files-list {
        margin-bottom: $margin-default;
    }

    .file-item {
        margin-bottom: $margin-default;
        .size {
            color: $color-label;
        }
    }

    .files-list.image {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5%;
    }

    .image-item {
        position: relative;
        width: 23%;
        margin-bottom: $margin-default;

        img {
            display: block;
            width: 100%;
        }

        .item-actions {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            text-align: right;
            font-size: 0;
            flex-direction: row-reverse;

            a {
                display: inline-block;
                width: 30px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: $color-negative;
                opacity: 0.7;

                &.delete {
                    &::after {
                        content: "\00D7";
                        font-size: 38px;
                    }
                }

                &.insert-image {
                    &::after {
                        content: "\21A5";
                        font-size: 28px;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        &:hover {
            .item-actions {
                display: flex;
            }
        }
    }
}
